/*Gobal style*/

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}

/*
input,select,textarea,button {
  outline: none;
}*/


body{
  /*
background-color: #FFEDE3;
*/background: linear-gradient(to bottom, rgba(255, 21, 21, 0.232), rgb(255,255,255),rgba(249, 11, 11, 0.232));

}

.links{
  text-decoration: none;
}


