
.res-menu{
   /* margin: 10rem 27rem;*/
   padding-top: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFD5C5;

    
      
}
.menu-title-container{
  width: 7rem;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  background-color: red;
  border-radius: 2rem;
  border: 3px solid black;
  box-shadow: 2px 4px  black;
}
.menu{
 font-size: 1.3rem;
 color:white;
 }
.menu-icon{
  width: 3rem;
  height: 3rem;

}
.menu-icon img{
  width: 100%;
  height: 100%;
}
.menu-container{
    width:750px;
    }
  
.menu-details {
  width: 700px;
  margin: 0 auto;
  border:1px solid black;
  box-shadow: -4px -4px black;
  border-radius:200px 28px 28px 200px;
  display: flex;
  gap:1.8rem;
  align-items: center;
  padding: 0.6rem;
  }
.menu-res-name{
    
    font-family: "Raleway", serif;
    font-weight: 1000;
    letter-spacing: 1px;
    font-size: 2rem;
     
}
.menu_img{

   width: 25rem;
   height: 15rem;
  border:1px solid red;
  border-radius:200px 28px 28px 200px;

}
.menu_img img{
   width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:200px 28px 28px 200px;
  }
.col1{
  display: flex;
  flex-direction: column;
  gap:1.4rem;
}
.menu-areaname{
  font-family: "Raleway", serif; 
  font-weight: 700;
  font-size: 0.95rem;
    color: #6B6B6B;
    line-height: 1;
    letter-spacing: 2.5px;
}
.menu-cusines{
  font-family: 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.95rem;
    color: orangered;
    letter-spacing: 0.1rem;
 font-weight: 600;

}
.star-rating{
    display: flex;
    gap:0.3rem;
    align-items: center;
    
}
.menu-star-icon{
    background-color: #008000;
    color: white;
    border-radius: 2rem;
    font-size: 1.1rem;
    padding: 0.25rem;
   
}
.menu-rating{
    font-weight: 1000;
    color: #008000;
    font-size: 1rem;
}
.menu-total-rating{
   
    color: black;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    margin: 0 0.3rem;
    font-size: 0.8rem;
    font-weight: 1000;
   
}
.distance{
    display: flex;
    gap:0.6rem;
    align-items: center;
}
.distance-icon{
    width: 1.5rem;
}
.distance-icon img{
    width: 100%;
    height: 100%;
}
.menu-distance{
    color:#6B6B6B;
    font-weight: 700;

}

.accordionup,.accordiondown{
font-size: 1.6rem;
}
.accordion-container{
  margin: 2.5rem 0;
 
}
/*Ascc */
.menu-accordion {
    border-radius: 4px;
    margin-bottom: 10px ;
   
    }
  
  .accordion-header {
    background-color: #fffefe;
    padding: 23px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*transition: all 20ms ease-in;
    */box-shadow: -2px 7px 21px -6px #aaa7a79c;

  }
  .accordion-content {
    padding: 10px;
    background-color: #fff;
    border-bottom:1px solid  #ccc; 
  }
  
  .menu-accordion-title{
    font-family:Verdana, Geneva, Tahoma;
    
    font-weight: 900;
    color:#3E4152;
    font-size: 1.1rem;
    letter-spacing: 0.6px;
  }

  .menuitem-flex{
    display: flex;
    justify-content: space-between;  
  }
.menu-row-one{
    display: flex;
    flex-direction: column;
    gap:1rem;
    
}
/*
.menu-row-two {
  width: 40%;
  
  
}*/
  .menu-row-two img{
    display: block;
    width: 120px;
    height: 120px;
   object-fit: cover;
   object-position: center;
    border-radius: 0.5rem;
  }
.icons-container{
  display: flex;
  align-items: center;
  gap:1.2rem;
}
  .veg-icon{
    width: 1.4rem;
    height: 1.4rem;
  }
  .nonveg-icon{
    border:1px solid #FF4141;
    width: 1.3rem;
    height: 1.3rem;
    padding: 0.3rem;
  }
.best-seller{
  width: 7rem;
  height: auto;
  
  border-radius: 1rem;
}
  .menu-item-name,.menu-item-price{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: rgb(62 65 82);
    letter-spacing: 0.6px;
  }
  .menu-item-price{
    font-family: 'Times New Roman', Times, serif;
  }
  .accordion-rating{
    display: flex;
    gap:0.4rem;
    font-size: 0.85rem;
    color: #1BA672; 
  }
  .menu-item-desc{
    width: 90%;
    font-family: "Raleway", serif;
    color: #282c3fc4;
    font-size: 0.85rem;
    line-height: 1.5;
    letter-spacing: 0.6px;
   font-weight: 600;

  }

  
.back-img {
  
  /*position: relative;
  z-index: 0;
  left: 0rem;
  top: 39rem;*/
  animation: move 3s linear infinite;
}

.back-img img {
  height: auto;
  width: 30rem;
}

/* Add the keyframes animation */
@keyframes move {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(30px);
  }
}

.menu-filter-container{
  display: flex;
  gap:2rem;
  
}
/*food-filter-Toogle style */
.toggle-switch-container{
  border: 4px solid white;
  border-radius: 10%;
  padding: 0 1.5rem;

  padding-top: 1.5rem;
  padding-bottom: 1.1rem;
  
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 10px;
  }

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: rgba(2, 6, 12, 0.15);
  transition: 0.25s;
  border-radius: 16px;
}

.toggle-icon {
  position: absolute;
  height: 21px;
  width: 21px;
  bottom: -5px;
  transition: 0.25s;
  transform: translateX(0);
}



.toggle-slider.veg.active {
  background-color: rgb(27, 166, 114);
}

.toggle-slider.nonveg.active {
  background-color: rgb(229, 53, 84);
}
.toggle-input:checked + .toggle-slider .toggle-icon {
  transform: translateX(18px);
}

.toggle-input:focus + .toggle-slider {
  box-shadow: 0 0 1px #60b246;
}