
@font-face {
    font-family: 'ProximaNova Condensed Bold';
    src: url('../../assets/fonts/ProximaNovaCond-Bold.ttf') format('truetype');
    
  }
  @font-face {
    font-family: 'ProximaNova Condensed Med';
    src: url('../../assets/fonts/ProximaNovaCond-Medium.ttf') format('truetype');
    
  }
  @font-face {
    font-family: 'ProximaNova Condensed Thin';
    src: url('../../assets/fonts/ProximaNovaCond-Thin.ttf') format('truetype');
    
  }
  

  

.res-menu{
   /* margin: 10rem 27rem;*/
    margin: 15rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
      
}

.menu-container{
    width:50%;
    }
.menu-res-name{
    
    font-family: "Basis Grotesque Pro Bold";
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 1000; 
}
.menu_img{
    width: 10rem;
}
.menu_img img{
    max-width: 100%;
    height: auto;
}

.menu-flex{
    margin-top: 4rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

/*.row-one{
    border:1px solid red;
}*/
.row-two{
border:1px solid rgb(199, 201, 214);
padding:0 0.3rem;

border-radius: 0.3rem;
}
.menu-cusines,.menu-areaname{
    font-family: "Basis Grotesque Pro Bold";
    font-size: 0.95rem;
    color: #646c7699;
    line-height: 1.4;
    padding: 0.2rem  0;
    letter-spacing: 2.5px;
}
.menu-cusines{
    color: orangered;
    letter-spacing: 0.1rem;

}
.star-rating{
    display: flex;
    gap:0.3rem;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 0;
    border-bottom: 0.4px solid rgb(214, 215, 223) ;

}
.menu-star-icon{
    background-color: #008000;
    color: white;
    border-radius: 2rem;
    font-size: 1.1rem;
    padding: 0.25rem;
   
}
.menu-rating{
    font-weight: 1000;
    color: #008000;
    font-size: 1rem;
}
.menu-total-rating{
   
    color: rgb(121, 122, 128);
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 2;
    font-size: 0.8rem;
    font-weight: 1000;
   padding-top: 0.3rem;
   padding-bottom: 0.1rem;
}
.distance{
    display: flex;
    gap:0.6rem;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px dashed #c2c0c0;

}
.distance-icon{
    width: 1.5rem;
}
.distance-icon img{
    width: 100%;
    height: 100%;
}
.menu-distance{
    color:#6B6B6B;
    font-weight: 700;

}

.accordionup,.accordiondown{
font-size: 1.6rem;
}
/*Ascc */
.menu-accordion {
    border-radius: 4px;
    margin-bottom: 10px ;
    }
  
  .accordion-header {
    background-color: #fffefe;
    padding: 23px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease-in 20ms;
    /*box-shadow: -2px 7px 5px -6px #aaa7a79c;
    */box-shadow: -2px 7px 21px -6px #aaa7a79c;

  }
  .accordion-content {
    padding: 10px;
    background-color: #fff;
    border-bottom:1px solid  #ccc; 
  }
  
  .menu-accordion-title{
    font-family: 'ProximaNova Condensed Bold';
    color:#3E4152;
    font-size: 1.1rem;
    letter-spacing: 0.6px;
  }

  .menuitem-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    
  }
.menu-row-one{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
  .menu-row-two img{
    max-width: 6rem;
    border-radius: 0.5rem;
  }

  .menu-item-name,.menu-item-price{
    font-family: 'ProximaNova Condensed Med';
    font-size: 1rem;
     opacity: 1;
    color: rgb(62 65 82);
    letter-spacing: 0.6px;
  }
  .accordion-rating{
    display: flex;
    gap:0.4rem;
    font-size: 0.85rem;
    color: #1BA672; 
  }
  .menu-item-desc{
    width: 90%;
    font-family: 'ProximaNova Condensed Thin';
    color: #282c3f73;
    letter-spacing: 0.6px;
    font-size: 0.8rem;
    line-height: 1.5;
    letter-spacing: 0.6px;
    font-weight: 500;

  }