

/*divider -css */

.whats-on-mind{
padding: 3rem 3.5rem;
padding-bottom: 5rem;
background-color: #fb580d;

}

.mind-title{
    font-family: "Bree Serif", serif;
    color: white;
    color: #f7dd54;
    font-size: 1.8rem;
}
.carsoul-container{
    max-width: 88.5rem;
    display: flex;
    gap:1.4rem;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
}

.carsoul-container::-webkit-scrollbar{
    display: none;
   
}
.carsoul-content{
   flex-shrink: 0;
   width: 9.4rem;
   transition: all 0.15s ease-in;
  

} 
.carsoul-content:hover{
    transform: scale(0.80);
}


.carsoul-content img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    border-radius: 1rem;
}

.carsoul-btns{
    display: flex;
    gap:0.7rem;
    justify-content: flex-end;
    font-size: 2.3rem;
    position: relative;
    bottom:2rem;
}
.left-btn,.right-btn{
   border-radius: 2.3rem;
   cursor: pointer;
   padding: 0.3rem;
   background-color: #f7dd54;
   color:#ff5304;
   transition: background 0.3s ease-in;   

  
}
.left-btn:hover,.right-btn:hover{
    color: black;
   background-color: white;
}



/*bottom-divider */
.custom-shape-divider-bottom-1739262051 {
    /* position: absolute;
     
     left: 0;*/
     width: 100%;
     overflow: hidden;
     line-height: 0;
     background-color: #FED9D3;
    
   
 }
 
 .custom-shape-divider-bottom-1739262051 svg {
     position: relative;
     display: block;
     width: calc(100% + 1.3px);
     height: 102px;
 }
 
 .custom-shape-divider-bottom-1739262051 .shape-fill {
     fill: #fb580d;
 }
 